
}body{
    margin: 0%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
.logo{
     background-color: rgb(12, 192, 223);
}
.container {
    width: 80%;
    margin: 0 auto;
    }
    }.content-box2{
        color: white;
        display: flex;
        text-align: center;
        flex-direction: row;
        background-color: rgb(12, 192, 223);
        margin: auto;
        width: 1000px;
        border-radius: 1%;
        }